*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    background-color: #f0f0f0;
    font-family: Roboto, sans-serif;
    background-image: url('backGround.png')
}

#game-layout {
    width: 850px; 
    height: 850px; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 2px solid #ccc; 
}

#game-layout #container {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start; 
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
}

.square {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid rgb(161, 152, 207);
}

.colorGrey {
    background-color: grey;
}

#btn-container {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    margin-top: 10px;
    padding: 5px;
}

